body {
    background-color:
    font-family: Verdana, Tahoma, sans-serif;
}

#back {
    margin-left: 90%;
}

.main {
    text-align: center;
}

.darkMode {
    background-color: black;
    color: blanchedalmond;
}

.lightMode {
    background-color:  blanchedalmond;
    color: black;
}

#toggle img {
    width: 25px;
    float: right;
    cursor: pointer;
}
