#body{
   background-color: blanchedalmond;
   font-size: larger;
   font-family: Verdana, Tahoma, sans-serif;
}

#switch{
   margin-left: 90%;
}

#idMode{
  margin-left: 90%;
}

.main{
   display: inline-flex;
   background-color: blanchedalmond;

}
.mind{
text-align: center;

}


#image{
   max-width: 100%;
   max-height: 100%
}

.darkmode, .lightmode {
  float: right;
}



section{
   flex: 0 0 50% ;
}
