body {
    background-color: blanchedalmond;
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
    font-size: 25px;
    padding: 25px;
}

.main {
   display: flex;
   
}

.mind {
    text-align: center;
    font-size: 40px;
    padding-bottom: 80px;
}

#image {
   display: inline-flex;
    max-width: 60%;
    max-height: 75%;
    margin-right: 20px;
}
#form {
   margin-right: 20px;
}
